@{
    ViewData["Title"] = "Index";
}

<main>
    <div>
        <h1> El código ingresado no es correcto. <h1>
        <h2> Presione el botón para continuar a la próxima sala <h2>
        <a href="<button>Continuar</button>
    <div>
</main>
