<body>
  
  <div id="player"></div>

    <script>
        let player;
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                videoId: '@ViewBag.video',
                events: {
                    'onReady': function(e) {
                        e.target.playVideo();
                    },
                    'onStateChange': function(e) {
                        if (e.data === YT.PlayerState.ENDED) {
                            window.location.href = '/Home/@ViewBag.proximaView';
                        }
                    }
                }
            });
        }
    </script>

    <script src="https://www.youtube.com/iframe_api"></script>
</body>
