html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* necesario para 100vh */
  font-family: Arial;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.Mensaje
{
  min-height: 100vh; /* Toda la altura de la pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2%;

}
.Mensaje div h1, .Mensaje div h2, .Mensaje div a{
  color: white;
  font-family: Arial;
}
.Mensaje div{
  background: rgba(255, 255, 255, 0.13); /* Fondo semi-transparente */
  border-radius: 16px;
  padding: 2rem;
  text-align: center;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  max-width: 600px;
  width: 90%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.Mensaje div h1{
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  margin-bottom: 1rem;
  }
  
  .Mensaje div h2{
    color: black;  margin-bottom: 2rem;
  }

button{
  padding: 0.5rem 2rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
  background-color: #13139bc4;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  border: 1px solid #13139b;
 
}

button:hover {color: #13139bc4;
  background-color: #13139b63;
  border: 1px solid #13139b;
  color: white;
}


.Clave
{
  background-image: url('/Imagenes/Momento_clave.png');
}

.Error
{
  background-image: url('/Imagenes/Perdiste.png');
  
}
.Ingreso{
  background-image: url("/imagenes/Momento clave.PNG");
}



.Pasaste
{
  background-image: url('/Imagenes/Pasaste.png');
}
.Inodoro{
  background-image: url('/Imagenes/Inodoro.png');
}
.Inodoro h1, .Inodoro h2{
  color:white;
}
.MontañaRusa{
  background-image: url('/Imagenes/MontañaRusa.png');
}

footer {
  display: none;
}

header{
  display: none;
}

#player {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.Baño{
  background-image: url('/Imagenes/Baño.webp');
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 600px;
    margin: auto;
}

.carta {
    width: 100px;
    height: 100px;
    background: gray;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.carta img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.carta img.visible {
    display: block;
}
img.oculta {
  visibility: hidden;
}
img.visible {
  visibility: visible;
}
.juegoMapas section div{
  width: 25%;
  margin-right: 4%;
  float:left;
}
.juegoMapas section div img{
  width: 50%;
}

.juegoMapas section{
  display: inline-block;
  width: 100%;
}
.juegoMapas h1{
  text-align: center;
}
.juegoMapas section div{
  border: 2px solid gray;
}

.nemo{
  margin-left: 25%;
}
